[submodule "python_scripts/ALaPy"]
	path = python_scripts/ALaPy
	url = https://github.com/J-B-O-Offshore/ALaPy
[submodule "python_scripts/JBOOSTReloaded"]
	path = python_scripts/JBOOSTReloaded
	url = https://github.com/J-B-O-Offshore/JBOOSTReloaded
